  <!--Main Navigation-->
<header>
  <style>
    #intro {
      background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

  </style>



  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8); height: 755px">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to Asra Metal Works</h1>
          <h5 class="mb-4">Best & Qualitative Products in Gulbarga/Kalaburagi</h5>
          <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start Browsing</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>


