<header>
    <div
        id="sapna-xerox"
        class="p-223 text-center bg-image"
        style="background-image: url('https://levstal.com/wp-content/uploads/2021/01/carousel-about-1.jpg');
        background-size: cover; height: 692px;">
        
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7); height: 692px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white container">
            <h1 class="mb-3 animate-txt fw-bold">Asra Metal Works</h1>
            <h5 class="mb-4">Best & Qualitative Metal Products In Gulbarga.</h5>

            <div class="d-flex justify-content-center align-items-center">
                <%= link_to 'View Products', products_path, class:"navbar-hov", style:"text-decoration: none; display: flex; justify-content: center; align-items: center; background: transparent; margin: 0; border: 0; color: white;" %>
            </div>
            
          
            </div>
        </div>
        </div>
    </div>
    <!-- Background image -->
</header>


